$color-one: #202734;
$color-two: #222f3e;
$color-three: #203645;
$button-color: #4d7f8e;
$text-color: #EEEEEE;
input{
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.8) inset;
    &:focus{
        outline: none;
    }
}

body{
    text-align: center;
    font-size: 22px;
    font-family: Calibri, sans-serif;
    background-color: $color-one;
    color: $text-color;
    margin: 0;
    top:0;
    left: 0;
}

button{
    margin: 1.5rem;
    padding: 0.6rem 1rem;

    font-size: 1rem;
    cursor: pointer;

    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 30px;
    box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.8);

    background: $button-color;
    color: $text-color;
    text-align: center;

    &:hover{
        background: lighten($button-color, 15%);
    }
}